**/.DS_Store

# Build is different per OS
build

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
# *.obj Wavefront OBJs shouldn't be ignored, and any .obj build files from VS should stay in the build dir

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
